body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
h1 {
    color: white;
}
#canvas {
    width: 500px;
    height: 500px;
}

#zombie {
    position: relative;
    height: 100px;
    width: 200px;
    top: 10%;
    left: 400px;
}