body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-image: url("background.jpg");
}
h1 {
    color: white;
}
#canvas {
    width: 99vw;
    height: 80vh;
}

#zombie {
    position: relative;
    height: 100px;
    width: 200px;
    top: 10%;
    left: 400px;
}